node_modules/
assets/js/manifest.edn
assets/js/main.js
assets/js/cljs-runtime
assets/resources

/target
/checkouts
/src/gen
/out

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
