/***********
 * TOP LEVEL
 ***********/
body {
  margin: 0;
}

.resume {
  width: 76.5vw;
  max-width: 1063px;
  height: 99vh;
}

/********
 * HEADER
 ********/
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "a a a a a x x x"
  "a a a a a b b b";
  background-color: #D6D4D3;
  padding: 1em 3em 1em 3em;
}

.header h1 {
  font-size: 3em;
  grid-area: a;
  align-content: end;
  margin: 0;
}

.header .contact {
  grid-area: b;
}

.header .contact-detail {
  display: grid;
  grid-template-columns: 1fr 8fr;
  font-size: 1.15em;
}

.header .contact-detail img {
  height: 70%;
  width: auto;
  margin: 0 .15em 0 0;
}

/********************
 * EXPERIENCE SECTION
 ********************/
.experience-list {
  border-left: 2px solid;
  list-style-type: none;
  margin: 0 0 0 1em;
  padding: 0 0 0 0;
}

.experience-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 0 1.5em .5em;
}

.experience-detail td {
  padding: 0 0 .5em 0;
}

.experience-detail .title {
  font-weight: bold;
}

.experience-detail .organization > td,
                   .dates > td {
  padding-left: .5em;
}

.experience-highlights > ul {
  list-style-type: disc;
  padding: 0 0 0 1em;
}

.experience-highlights li {
  margin: 0 0 .5em 0;
}

/****************
 * SKILLS SECTION
 ****************/
.skills-list {
  border-left: 2px solid;
  list-style-type: none;
  margin: 0 0 0 1em;
  padding: 0 0 0 0;
}

.skills-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 0 1.5em .5em;
}

.skills-item .skill-area {
  font-weight: bold;
}
